#page {
  padding: 0 1em;
}

.masonry-grid .hentry {
  display: block;
  width: 100%;
}

@media (min-width: $screen__sm) {

  .gutter-sizer {
    width: 2%;
  }

  .grid-sizer,
  .masonry-grid .hentry {
    width: 48%
  }

  .masonry-grid .hentry {
    float: left;
    overflow: hidden;
  }
}

@media (min-width: $screen__md) {

  .grid-sizer,
  .masonry-grid .hentry {
    width: 32%;
  }
}

@media (min-width: $screen__lg) {
  #page {
    max-width: 1200px;
    margin: 0 auto;
  }
}
