input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border-width: 2px;
	border-style: dotted;
	border-color: transparent;
	border-bottom-color: $color__border-input;
	background-color: white;
	background-color: rgba(255,255,255,0.6);
	width: 100%;

	&:focus {
		border-bottom-color: $color__brand-primary;
		outline: 0;
	}

	#secondary & {
		background-color: black;
		background-color: rgba(0,0,0,.5);
	}
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color__text-input-focus;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
