#secondary {
	margin-bottom: 1em;
	padding: 1em;
	word-wrap: break-word;
	background-color: black;
	background-color: rgba(0,0,0,.8);
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
