// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Buttons
@mixin button() {
  background-color: $color__background-button;
  padding: 8px 10px;
  color: white;
  transition: all .1s ease-in-out;

  &:hover {
    background-color: lighten($color__background-button, 5%);
    text-shadow: 1px 1px rgba(0,0,0,.2);
  }
}

@mixin nav-item-active() {
  background-color: $color__background-button;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,.2);
}

@mixin card() {
  border: 1px solid $color__background-hr;
  background-color: white;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);

  &:after {
    content: "";
    height: 2px;
    width: 99%;
    background-color: white;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $color__background-hr;
    position: absolute;
    bottom: -3px;
    left: 0.5%;
  }
}
