.btn {
	display: inline-block;
	position: relative;
	margin-bottom: 0; // For input.btn
	padding: 0.2em 0.4em;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid darken($color__gray-light, 10%);
	white-space: nowrap;
	background-color: transparent;
	color: $color__gray-light;
	transition: all ease-out 0.1s;

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			@include tab-focus;
		}
	}

	&:hover,
	&:focus {
		color: white;
		text-decoration: none;
		color: white;
	}

	&:active {
		box-shadow: inset 2px 3px 5px rgba(0,0,0,.5);
	}

	/**
	 * Animation
	 */
	.line-top,
	.line-right,
	.line-bottom,
	.line-left {
		position: absolute;
		background: white;
		transition: all 0.5s ease-in-out;
	}
	.line-top {
		top: -1px;
		left: -1px;
		width: 0;
		height: 1px;
	}
	.line-right {
		bottom: 0;
		right: -1px;
		width: 1px;
		height: 0;
	}
	.line-bottom {
		bottom: -1px;
		right: -1px;
		width: 0;
		height: 1px;
	}
	.line-left {
		top: 1px;
		left: -1px;
		width: 1px;
		height: 0;
	}

	&:hover,
	&:focus {
		.line-top {
			width: 100%;
		}
		.line-right {
			height: 100%;
		}
		.line-bottom {
			width: 100%;
		}
		.line-left {
			height: 100%;
		}
	}
}
