.site-branding {
	text-align: center;
}

.site-title  {
	margin-bottom: 0;
	font-size: 3em;
	text-transform: uppercase;
	a,
	a:visited {
		color: white;
		text-decoration: none;
	}
}

.site-description {
	margin-top: 0;
	color: white;
	font-family: $font__main;
	font-weight: normal;
	font-size: 1.275em;
}
