a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.hentry a {
	color: $color__link-dark;

	&:visited {
		color: $color__link-dark-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-dark-hover;
	}
}

.nav-links {
	a {
		@extend .btn;
		&:before,
		&:after {
			font-family: FontAwesome;
		}
	}
	.nav-next a:after {
		content: "\f105";
		padding-left: 5px;
	}
	.nav-previous a:before {
		content: "\f104";
		padding-right: 5px;
	}
}
