#comments {
	padding: 1em;
	margin-bottom: 2em;
	background-color: white;
	background-color: rgba(255,255,255,.9);
	color: $color__text-main;
}

.comments-title {
	margin-top: 0;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
