.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
	padding: 1em;
	background-color: white;
	background-color: rgba(255,255,255,.9);
	color: $color__text-main;
	word-wrap: break-word;

	.entry-title {
		margin: 0;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	margin: 1em 0 0;

	p:first-child {
		margin-top: 0;
	}
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;

	a {
		@extend .btn;
		@extend .btn-dark;
		padding: 0.1em 0.5em;
		color: $color__gray-darker;

		&:hover {
			color: black;
			border-color: black;
		}
	}
}

.cat-links,
.tags-links,
.comments-link {
	display: block;
}

.hentry .posted-on,
.entry-footer .cat-links,
.entry-footer .tags-links,
.entry-footer .comments-link {
	&:before {
		font-family: FontAwesome;
		color: $color__gray;
		float: left;
		margin-right: 5px;
	}
}

.entry-footer {
	.cat-links:before {
		content: "\F0E8";
	}
	.tags-links:before {
		content: "\F02C";
	}
	.comments-link:before {
		content: "\f075";
		color: $color__link-dark;
	}
	.edit-link {
		margin-left: 5px;
		padding-left: 5px;
		border-left: 1px solid $color__gray-lighter;
	}
}

.format-quote {
	.posted-on {
		&:before {
			content: "\f10d";
		}
	}
	.entry-content {
		margin: 0;

		blockquote {
			margin: 1em 0;
			padding: 0 0 0 1em;
			border-left: 1px solid $color__gray-lighter;

			p {
				margin-bottom: 0;
			}
		}
	}
}

.format-aside .posted-on:before {
	content: "\f0f6";
}

.format-video .posted-on:before {
	content: "\f03d";
}

.format-link .posted-on:before {
	content: "\f0c1";
}

.format-image .posted-on:before {
	content: "\f03e";
}

.format-gallery .posted-on:before {
	content: "\f008";
}

.format-standard .posted-on:before {
	content: "\f040";
}

.format-chat .posted-on:before {
	content: "\F0E6";
}
