.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
	padding: 1em;
	background: white;

	.entry-title {
		margin: 0;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	margin: 1em 0 0;

	p:first-child {
		margin-top: 0;
	}
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry .posted-on:before {
	font-family: FontAwesome;
	color: $color__gray;
	float: left;
	margin-right: 5px;
}

.format-quote {
	.posted-on {
		&:before {
			content: "\f10d";
		}
	}
	.entry-content {
		margin: 0;

		blockquote {
			margin: 1em 0;
			padding: 0 0 0 1em;
			border-left: 1px solid $color__gray-lighter;

			p {
				margin-bottom: 0;
			}
		}
	}
}

.format-aside .posted-on:before {
	content: "\f0f6";
}

.format-video .posted-on:before {
	content: "\f03d";
}

.format-link .posted-on:before {
	content: "\f0c1";
}

.format-image .posted-on:before {
	content: "\f03e";
}

.format-gallery .posted-on:before {
	content: "\f008";
}
