.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
	padding: 1em;
	background: white;

	.entry-title {
		margin: 0;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	margin: 1em 0 0;

	p:first-child {
		margin-top: 0;
	}
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.format-quote {
	.entry-content {
		margin: 0;

		blockquote {
			margin: 1em 0 0;
			padding: 0 0 0 1.5em;

			p {
				margin-bottom: 0;
			}
		}

		&:before {
			font-family: FontAwesome;
			content: "\f10d";
			color: $color__gray;
			float: left;
		}
	}
}

.format-aside {
	.entry-header {
		&:before {
			font-family: FontAwesome;
			content: "\f0f6";
			color: $color__gray;
			float: left;
			margin-right: 5px;
		}
	}
}
